@import "bootstrap";

/* ✦─────────────────────────────✦  */
/*      🎆 JUMBOTRON + BLURTEXT     */
/* ✦─────────────────────────────✦ */
.header-img-container {
  height: 50vh;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.header-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.header-img-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 50vh;
}

/* ✦─────────────────────────────✦  */
/*              NAVBAR              */
/* ✦─────────────────────────────✦ */

.navbar-fixed-transparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.021); /* bianco trasparente */
  backdrop-filter: blur(100px); /* effetto vetro */
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.228);
}

