@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

/* JUMBOTRON - Solo override necessari */

.header-img-container {
  width: 100%;
  height: 580px; /* fissa in pixel */
}

.jumbotron-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 39%; /* sposta il focus più in basso */
  display: block;
}

/* .jumbotron-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
} */

/* NAVBAR - Solo override necessari */
.navbar-fixed-transparent {
  background: rgba(15, 15, 15, 0.938) !important;
  backdrop-filter: blur(100px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.228);
}

.logo_navbar {
  height: 60px;
  object-fit: contain;
}

/* BODY */
body {
  background: linear-gradient(to bottom, #1818184b, #b08d2f, #a67c1d, #c9b037);
}

/* CARD */
.card {
  border: none !important;
  background: transparent !important;
  box-shadow: none;
}

/* footer */

ul {
  padding: 0;

  li {
    list-style: none;
    padding: 0.5rem 0;
  }
}

.payment-methods {
  width: 100%;
  margin: 0;

  li {
    scale: 2;
  }
}

.social-container {
  display: flex;
  gap: 12px;
}

.social-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;

  border-radius: 50%;
  transition: background 0.3s ease;
  text-decoration: none;
}

.social-button:hover {
  opacity: 0.8;
}

.social-icon {
  color: white;
  font-size: 22px;
}

.ig {
  background: linear-gradient(to right, #a855f7, #ec4899);
}
.fb {
  background: linear-gradient(to right, #281dc0, #250d7b);
}
.discord {
  background: linear-gradient(to right, #410249, #83069f);
}
.x {
  background: linear-gradient(to right, #101010, #474748);
}
.youtube {
  background: linear-gradient(to right, #aa0000, #dd5858);
}
.git {
  background: linear-gradient(to right, #6e6c6c, #939297);
}

/* Tablet: max-width 991px */
@media (max-width: 991px) {
  .header-img-container {
    height: 320px;
  }
}

/* Mobile: max-width 575px */
@media (max-width: 575px) {
  .header-img-container {
    height: 160px;
  }
}
